@model AZIPPYFITNESS.Models.ClassEnrollee

@{
    ViewData["Title"] = "Delete";
}

<h2>Class Session Withdraw</h2>

<h3>Are you sure you want to withdraw this member from the indicated session? </h3>
<div>
    <h4>ClassEnrollee</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="enrolledRegisrationId" />
        <dt>
            @Html.DisplayNameFor(model => model.ClassSession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassSession.FitnessClass.fitnessclassTitle)
        </dd>
        <dt>
            Member:
        </dt>
        <dd>
            @Model.Member.firstName @Model.Member.lastName
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
